---
---

@import "{{ site.theme }}";

#sidebar {
    position:absolute;
    top:200px; bottom:0; left:5px;
    width:150px;
}

img.mainfig {
    min-width: 100%;
    min-height: auto;
    cursor: zoom-in;
}
