---
---

@import "{{ site.theme }}";

img.mainfig {
    min-width: 100%;
    min-height: auto;
    cursor: zoom-in;
}
/*
body {
    counter-reset: cmain;
}
*/

h1 {
    counter-increment: cmain;
    counter-reset: csub;
}

h2 {
    counter-increment: csub;
}

h1:before {
    content: counter(cmain) ".\0000a0\0000a0";
}
h1.nocount:before {
    content: none;
    counter-increment: none;
}

h2:before {
    content: counter(cmain) "." counter(csub) ".\0000a0\0000a0";
}

h2.nocount:before {
    content: none;
    counter-increment: none;
}